:root {
    --dark-blue: #0E46A3;
    --light-blue: #9AC8CD;
    --dark-purple: #1E0342;
    --accent-color: #E1F7F5;
  }

.loginpage{
    gap: 50px;
    background-color:var(--dark-purple)
}
.login, .register{
    height: fit-content;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.loginform, .registerform{
    gap: 50px;
    padding: 2rem;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25 );
}

.button{
    transition: all .3s ease;
    background-color: var(--dark-blue);
}

.button:hover{
    -webkit-box-shadow: 1px 1px 43px -6px rgba(154,200,205,1);
-moz-box-shadow: 1px 1px 43px -6px rgba(154,200,205,1);
box-shadow: 1px 1px 43px -6px rgba(154,200,205,1);
}
input{
    background-color: linear-gradient(rgb(151, 80, 80), rgba(255,255,225))
}
