
.loginpage{
    gap: 50px;
    background-color: var(--beige)
}
.login, .register{
    height: fit-content;
    box-shadow: 0 8px 32px 0 var(--reddish);
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.loginform, .registerform{
    gap: 50px;
    padding: 2rem;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25 );
}

.button{
    transition: all .3s ease;
    background-color: var(--reddish);
}

.button:hover{
    box-shadow: 1px 1px 43px -6px var(--reddish);
}
input{
    border: 2px solid var(--pinkish);
    caret-color: var(--pinkish);
}
