
.loginpage{
    gap: 50px;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20id%3D%22svg%22%20viewBox%3D%220%200%201440%20590%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22transition%20duration-300%20ease-in-out%20delay-150%22%3E%3Cpath%20d%3D%22M%200%2C600%20L%200%2C150%20C%2087.90430622009572%2C123.13875598086125%20175.80861244019144%2C96.27751196172248%20262%2C111%20C%20348.19138755980856%2C125.72248803827752%20432.66985645933005%2C182.0287081339713%20525%2C184%20C%20617.33014354067%2C185.9712918660287%20717.5119617224881%2C133.60765550239233%20818%2C123%20C%20918.4880382775119%2C112.39234449760767%201019.2822966507179%2C143.54066985645935%201123%2C155%20C%201226.7177033492821%2C166.45933014354065%201333.358851674641%2C158.22966507177034%201440%2C150%20L%201440%2C600%20L%200%2C600%20Z%22%20stroke%3D%22none%22%20stroke-width%3D%220%22%20fill%3D%22%23e85a50%22%20fill-opacity%3D%220.53%22%20class%3D%22transition-all%20duration-300%20ease-in-out%20delay-150%20path-0%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M%200%2C600%20L%200%2C350%20C%20102.99521531100478%2C375.4736842105263%20205.99043062200957%2C400.9473684210526%20314%2C401%20C%20422.00956937799043%2C401.0526315789474%20535.0334928229665%2C375.6842105263158%20616%2C356%20C%20696.9665071770335%2C336.3157894736842%20745.8755980861245%2C322.31578947368416%20836%2C338%20C%20926.1244019138755%2C353.68421052631584%201057.4641148325359%2C399.0526315789474%201165%2C406%20C%201272.5358851674641%2C412.9473684210526%201356.267942583732%2C381.4736842105263%201440%2C350%20L%201440%2C600%20L%200%2C600%20Z%22%20stroke%3D%22none%22%20stroke-width%3D%220%22%20fill%3D%22%23e85a50%22%20fill-opacity%3D%221%22%20class%3D%22transition-all%20duration-300%20ease-in-out%20delay-150%20path-1%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: cover;
}
.login, .register{
    height: fit-content;
    width: 100%;
    box-shadow: 0 8px 32px 0 var(--pinkish);
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.loginform, .registerform{
    gap: 50px;
    padding: 2rem;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25 );
}

.button{
    transition: all .3s ease;
    background-color: var(--reddish);
}

.button:hover{
    box-shadow: 1px 1px 43px -6px var(--reddish);
}
input{
    border: 2px solid var(--grey);
    caret-color: var(--pinkish);
}

.eye{
    border: 2px solid var(--grey);
}
