:root {
    --beige: #EAE7DC;
    --brown: #D8C3A5;
    --grey: #8E8D8A;
    --pinkish: #E88073;
    --reddish: #E85A50;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    position: relative;
    margin: 0;
    padding-bottom: 80px;
    gap: 20px;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.wishlistButton{
    background-color: var(--pinkish);
}
.cartButton{
    background-color: #bebebb;
}
.wishlistButton:hover{
    background-color: var(--reddish);
}
.cartButton:hover{
    background-color: #a5a39b;
}