
body{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--beige);
}

.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px
}


.productWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 450px;
    font-size: 10px;
    text-align: center;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.imagediv{
    text-align: center;
    height: 160px;
    width: 100%;
    border-radius: 10px;
}
.infodiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-size: 1rem;
    height: inherit;
}
.rating-numratings{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: large;
}
.star::before{
    content: "★";
    font-size: large;
    color: goldenrod;
}
.star{
    color: goldenrod;
}

.buttons{
    display:flex;
    gap: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listimage{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

h1, h2, h3{
    color: var(--beige);
}
.shop-by-category, .popular-header, .most-sold-header{
    border-color: var(--reddish);
    background-color: var(--pinkish);
}
.category-name{
    color: var(--beige);
}
@media screen and (max-width: 700px){
    body{
        display:flex;
        flex-direction: column;
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
    }
    .top-products{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .productWrapper{
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 350px;
        gap: 5px;
    }

    .imagediv{
        height: 350px;
    }
    .imagediv > img{
        height: 350px;
    }

    .listimage{
        width: 300px;
        height: auto;
    }

    .rating-numratings{
        display: flex;
        justify-content: space-evenly;
    }
}